<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<header>
    <a href="/login">Login</a>
    <a href="/items">Items</a>
    <a href="/item">Add Items</a>
</header>

{{{body}}}

</html>