<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>

{{#if user}}
<header>
    <a class="header_text_main" href="/">⇄CampusExchange</a>
    <a class="header_text" href="/items">Find Items</a>
    <a class="header_text" href="/item">Add Item</a>
    <a class="header_text" href="/user/{{user._id}}">User Page</a>
    <a class="header_text" href="/logout">Log Out</a>
</header>
{{/if}}

<body>
    <main>
        {{{body}}}
    </main>
</body>
<footer> <p>Product of Stevens Institute of Technology</p></footer>
</html>