<body>
    <h1>Add Item</h1>

  <p id="added" class="added" hidden></p>

  {{#if hasErrors}}
    <p id="error" class="error">{{error}}</p>
  {{/if}}

  <form action="/item" method="POST">
    <label>
      Add Item: <br>
      Name:
      <input type="text" id="name" name="name"> <br>
      Description:
      <input type="text" id="description" name="description">
    </label>
    <input type="submit" value="Add">
  </form>

  <script src="/public/js/form_process.js"></script>
</body>