
  <h1 id = 'addItem'>Add Item</h1>

  <p id = 'error' class = 'error' hidden> Placeholder Error</p>

  <form id = 'addItemForm' action="/item" method="POST">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name"> 

      <label for="description">Description:</label>
      <input type="text" id="description" name="description">

      <label for="availabilityToggle">Available:</label>
      <input type="checkbox" id="availability" name="availability" checked>
      <p>Please note that if you mark an item as unavailable, no one will be able to see it. However, you will still be able to see it in your User Profile.</p>
    </div>
    <input id = 'addItemButton' type="submit" value="Add">
  </form>

  <script src="/public/js/form_process.js"></script>
