<body>
            <section class="home">
                <h1 = 'strengthen'>Strengthening community bonds on campus!</h1>
                <img src="https://images.pexels.com/photos/5538626/pexels-photo-5538626.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="College students talking" id = 'home_img'>
                <p id = 'home_p'>We help collegiate students save both money and time by granting students within the same university the ability to lend and borrow items from one another.</p>
                <p id = 'catchphrase'>Lend. Borrow. Connect.</p>
            </section>

            <a id = 'signuplink' href = '/register'> Register Here</a>
            <a id = 'loginlink' href = '/login'> Login Here</a>
</body>