<body>
    <main>
            <section class="home">
                <h1 id = 'strengthen'>Strengthening community bonds on campus!</h1>
                <div class="slideshow-container">
                    <img class="slide slide1" src="../public/images/photo1.jpeg" alt="College Students Walking">
                    <img class="slide slide2" src="../public/images/photo2.jpeg" alt="Stevens Institute of Technology">
                    <img class="slide slide3" src="../public/images/photo3.jpeg" alt="Students Helping Each Other Read">
                    <img class="slide slide4" src="../public/images/photo4.jpeg" alt="Students Smiling in Library">
                </div>
                <p id = 'home_p'>We help collegiate students save both money and time by granting students within the same university the ability to lend and borrow items from one another.</p>
                <p id = 'catchphrase'>Lend. Borrow. Connect.</p>
            </section>

            <a id = 'signuplink' href = '/register'> Register Here</a>
            <a id = 'loginlink' href = '/login'> Login Here</a>
    </main>
</body>