<body>
  <h1>Items</h1>

  <main>
    {{#if items}}
      <ol>
        {{#each items}}
          <li>
            <a href="/item/{{this.id}}">
              <h2>{{this.name}}</h2>
            </a>
          </li>
        {{/each}}
      </ol>
    {{else}}
      <p class="not-found">We're sorry, but no items were found.</p>
    {{/if}}
  </main>
</body>