<h1 class="center"> Top 10 Karma Collectors <a href="/ratingRequests" class="give-karma">Give Karma</a></h1>


<ol class="simple-list">
    {{#each topUsers}}
    <li>
        <p>{{this.name}} (Karma: {{this.karma}})
        </p>
    </li>
    {{/each}}
</ol>