
  <header class="logged-out-header">
    <h1>Login</h1>
  </header>


    {{#if hasErrors}}
    <p id="error" class="error">{{error}}</p>
    {{/if}}
    <form action="/login" method="POST">
      <div class="formInput">
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email">
      </div>
      <div class="formInput">
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password">
      </div>
      <div class="formInput">
        <input class="pageButton" type="submit" value="Login">
      </div>
    </form>
    <a class=" center" href="/register">Don't have an account? Register here!</a>

