<body>
  <header>
    <h1>Register</h1>
  </header>

  <main>
    {{#if hasErrors}}
    <p id="error" class="error">{{error}}</p>
    {{/if}}
    <form action="/register" method="POST">
    <div>
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name">
      </div>
      <div>
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email">
      </div>
      <div>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password">
      </div>
      <div>
        <label for="confirmPassword">Confirm Password:</label><br>
        <input type="password" id="confirmPassword" name="confirmPassword">
      </div>
      <div>
        <input type="submit" value="Login">
      </div>
    </form>
  </main>
</body>