
  <header class="logged-out-header">
    <h1>Register</h1>
  </header>

  <p id="register-error" class="error" {{#if i}}{{else}}hidden{{/if}}> {{register_error}}</p>

  {{#if hasErrors}}
    <p id="error" class="error">{{error}}</p>
    {{/if}}
    
<div class="registerContainer">
  <div class="register">
    <form action="/register" id="register_form" method="POST">
    <div>
        <label for="name">Full Name:</label><br>
        <input type="text" id="name" name="name">
      </div>
      <div>
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email">
      </div>
      <div>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password">
      </div>
      <div>
        <label for="confirmPassword">Confirm Password:</label><br>
        <input type="password" id="confirmPassword" name="confirmPassword">
      </div>
      <div>
        <input type="submit" class="registerButton" value="Register">
      </div>
    </form>
    </div>

     <script src="/public/js/register_validate.js"></script>
     </div> 